[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
python-dotenv = "*"
fontawesomefree = "*"
fontawesome-free = "*"
django-browser-reload = "*"
django-tailwind = {extras = ["reload"], version = "*"}
django-unfold = "==0.43.0"

[dev-packages]

[requires]
python_version = "*"
