{% load static %}
<link rel="stylesheet" href="{% static 'css/button_contact.css' %}" />
<button class="btn-cssbuttons btn rounded-0 p-1 px-3">
  <span class="fw-bolder text-dark">Let's Talk</span><span><img src="{% static 'img/logo_2.png' %}" alt="Logo" width="30" height="30" class="px-1" /></span>
  <ul>
    {% for social in social_links|slice:':3' %}
      <li>
        <a href="{{ social.your_address }}" target="_blank"><img src="{{ social.logo.url }}" width="30" height="30" /></a>
      </li>
    {% endfor %}
  </ul>
</button>
