<footer class="container py-5">
  <hr />
  <div class="row">
    <div class="col-12 col-md d-flex justify-content-center flex-wrap">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 114.604 111.598" height="50px">
        <path fill="white" fill-rule="evenodd" stroke-width=".265" d="M49.102 36.08l7.017 13.682 6.535-11.593-4.097-8 52.322-.037-9.422 16.06L99.1 35.117 82 35.198 70.34 55.226l9.271-.057 5.951-4L74.09 70.622l.62-7.453h-9L52.8 85.352l20.22-.056 10.955-9.127-6.686 12.201H16.13c-3.676.321-5.959-.393-8.032-2.831 0 0-1.163-1.37-1.445-3.4-.186-1.329-.229-2.762.167-4.182 2.364-8.49 9.847-10.407 11.529-10.451 0 0 5.007.178 6.672 2.257.756.944 1.417 1.887 1.74 3.049.388 1.399.38 2.984.185 4.548-.16 1.268-.971 3.227-1.817 4.575-1.453 2.314-3.2 3.777-3.327 3.71l13.945-.143 10.355-18.166L33.178 40.17l-16.651-9.873 35.965-.164z" />
        <path fill="white" stroke="#7b6c00" stroke-linecap="round" stroke-linejoin="bevel" stroke-width=".204" d="M20.232 22.551c14.694-9.108 37.59-19.73 61.873-19.619 22.248.946 28.159 9.119 31.867 19.62z" opacity=".99" paint-order="markers stroke fill" />
        <path fill="white" stroke="#7b6c00" stroke-linecap="round" stroke-linejoin="bevel" stroke-width=".15" d="M72.916 97.92c-11.326 6.315-29.01 13.68-47.873 13.602C7.75 110.867 3.08 105.2.098 97.92z" opacity=".99" paint-order="markers stroke fill" />
      </svg>
      <div>
        <span class="h6 ps-2 fst-italic">Yosef Emayayu</span>
        <small class="d-block mb-3 text-body-secondary ps-4">&copy; 2024</small>
      </div>
    </div>
    <hr />
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="link-secondary text-decoration-none" href="#">Cool stuff</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Random feature</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Team feature</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Stuff for developers</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Another one</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Last time</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="link-secondary text-decoration-none" href="#">Resource name</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Resource</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Another resource</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Final resource</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="link-secondary text-decoration-none" href="#">Business</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Education</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Government</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Gaming</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="link-secondary text-decoration-none" href="#">Team</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Locations</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Privacy</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Terms</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<svg preserveAspectRatio="none" viewBox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg" style="fill: #ecae0e; width: 100%;max-height: 40px;;  transform: rotate(180deg) scaleX(-1);">
  <path d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z" opacity=".25" />
  <path d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z" opacity=".5" />
  <path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z" />
</svg>
