<nav class="border align-middle p-2 border-primary rounded-md rounded-s-full flex flex-row justify-between">
  <img class="h-6" src="../static/img/logo_2.png" alt="Logo" />

  <ul class="flex">
    <li class="mx-2 hover:text-warning hover:border-danger">
      <a id="about" href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}selected-link{% endif %}">About</a>
    </li>
    <li class="mx-2 hover:text-warning hover:border-danger">
      <a id="experience" href="{% url 'experience' %}" class="{% if request.resolver_match.url_name == 'experience' %}selected-link{% endif %}">Experience</a>
    </li>
    <li class="mx-2 hover:text-warning hover:border-danger">
      <a id="education" href="{% url 'education' %}" class="{% if request.resolver_match.url_name == 'education' %}selected-link{% endif %}">Education</a>
    </li>
    <li class="mx-2 hover:text-warning hover:border-danger">
      <a id="portfolio" href="{% url 'projects' %}" class="{% if request.resolver_match.url_name == 'projects' %}selected-link{% endif %}">Portfolio</a>
    </li>
    <li class="mx-2 hover:text-warning hover:border-danger">
      <a id="contact" href="{% url 'contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}selected-link{% endif %}">Contacts</a>
    </li>
    <li class="transition ease-in-out duration-700 ms-2 border text-secondary px-2 hover:bg-secondary hover:text-bg_dark">
      <i class="fa-regular fa-circle-down"></i>
      <button id="resume" href="#resume">Resume</button>
    </li>
  </ul>
</nav>

<style>
  .selected-link {
    color: #ffc107;
    font-weight: bold;
  }
</style>
