// Color Variables
@import 'theme';
.carousel-inner {
  border-radius: 28px;
background: #0D1F2D;
box-shadow:  -20px 20px 60px #0b1a26,
             20px -20px 60px #0f2434;
 img {
  object-fit: cover;
  height: 40vh;
}
}



// Education Section
.education {
  padding: 30px;
  // border-radius: 15px;
  // background-color: $bg-200;
  border-radius: 28px;
background: #0D1F2D;
box-shadow:  -20px -20px 60px #0b1a26,
             20px 20px 60px #0f2434;

  
}



.degree-title {
  font-size: 1.1rem;
  line-height: 1.6;
}

ul {
  font-size: 1rem;
  line-height: 1.8;
  color: $text-200;
}

ul li i {
  color: $accent-100;
  margin-right: 10px;
}

// Buttons
.btn-outline-accent {
  border-color: $accent-200;
  color: $accent-200;

  &:hover {
    background-color: $accent-200;
    color: $text-100;
  }
}

// Certificate Section
.certificate {
  padding: 30px;
 border-radius: 28px;
background: #0D1F2D;
box-shadow:  -20px -20px 60px #0b1a26,
             20px 20px 60px #0f2434;
}

.certificate-icon {
  width: 50px;
  height: 50px;
  background-color: $accent-200;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.certificate .bi {
  font-size: 24px;
  color: $text-100;
}

ul li {
  transition: transform 0.3s ease-in-out;
}

ul li:hover {
  transform: translateX(10px);
}

ul li a {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 15px;
  text-decoration: none;
  color: $text-200;
  border-top: 1px solid $bg-200;
}

ul li a:hover {
  background-color: $bg-100;
  color: $text-100;
}

// Media Queries for Responsive Design
@media (min-width: 786px) {
  .education, .certificate {
    // height:fit-content !important;
    height:  60vh;
    
    align-items: center;
    overflow-y: auto;
  }
}

// @media (max-width: 767px) {
//   .carousel-inner img {
//     height: 30vh;
//     background: #6e2020;
//   }

//   .education, .certificate {
//     padding: 15px;
//   }
// }



 .greeting {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: $primary-100;
  }

  .highlight {
    color: $accent-100;
  }