
body{
    background-color:  #002642;
    color: rgb(129, 161, 189);
    .navbar{
    background-color: inherit !important ;
}
.about{
    border-radius: 44px;
background: #002642;
box-shadow:  27px 27px 54px #001a2d,
             -27px -27px 54px #003257;
    height: 50vh;
    width: 50vh;

}
}
