@import 'theme';
body{
    background-color:$bg-100 ;
    color: $text-100;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
.navbar {
    background-color: $bg-200 !important;
    color: $text-100 !important;
    padding-left:  2rem;
    padding-right:  2rem;
    margin-top: 1.5rem;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;

}

}