{% comment %} <div class="bg-body-tertiary" style="height: 90vh; display: flex; align-items: center; justify-content: center; text-align: center; padding: 20px; background-color: #f8f9fa;">
  <div style="max-width: 800px; padding: 20px; background-color: #ffffff; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); border-radius: 10px;">
    <h1 style="font-size: 3rem; font-weight: 700; color: #343a40; margin-bottom: 10px;">Hello,</h1>
    <h2 style="font-size: 2.5rem; font-weight: 600; color: #007bff; margin-bottom: 20px;">I'm Yosef Emya</h2>
    <p style="font-size: 1.2rem; line-height: 1.8; color: #6c757d;">As a Full Stack Engineer with over two years of experience, I specialize in Python, Django, React, and API development, with a strong focus on web security. My passion for programming, machine learning, and cybersecurity drives my commitment to solving complex challenges and delivering high-quality solutions. I stay updated on industry trends and continuously enhance my skills to contribute effectively to innovative projects. Let’s connect to explore how we can collaborate and create impactful solutions.</p>
  </div>
</div> {% endcomment %}
