{% load static %}
<div class="row mt-md-5 align-items-center">
  <div class="co-12 col-md-7 about-content">
    <div class="header">
      <h1 class="header-title">Hello,</h1>
      <h2 class="header-title-sub">I'm <span class="text-warning">Yosef Emyayu</span></h2>
    </div>

    <p>As a Full Stack Engineer with over two years of experience, I specialize in Python, Django, React, and API development, with a strong focus on web security. My passion for programming, machine learning, and cybersecurity drives my commitment to solving complex challenges and delivering high-quality solutions. I stay updated on industry trends and continuously enhance my skills to contribute effectively to innovative projects. Let’s connect to explore how we can collaborate and create impactful solutions.</p>
    <button type="button" class="btn btn-warning d-block px-5 rounded-0">Let's Talk</button>
  </div>
  <div class="col-md-5">
    <img class="about-img" src="{% static 'bg.png' %}" alt="" />
  </div>
</div>
