{% load static %}
<div class="about">
  <div class="about-content">
    <h1 class="about-title">Hello,</h1>
    <h2 class="about-title-sub">I'm Yosef Emyayu</h2>
    <p>As a Full Stack Engineer with over two years of experience, I specialize in Python, Django, React, and API development, with a strong focus on web security. My passion for programming, machine learning, and cybersecurity drives my commitment to solving complex challenges and delivering high-quality solutions. I stay updated on industry trends and continuously enhance my skills to contribute effectively to innovative projects. Let’s connect to explore how we can collaborate and create impactful solutions.</p>
    <button type="button" class="btn btn-warning d-block px-4">Hire Me</button>
  </div>
  <div>
    <img class="about-img" src="{% static 'bg.png' %}" alt="" />
  </div>
</div>
