{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'theme\static\css\dist\styles.css' %}" />

    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{% static 'img/logo_2.png' %}" type="image/x-icon" />
    <title>Joseph</title>
    {% tailwind_css %}
  </head>
  <body class="bg-bg_dark text-text_light font-serif h-full overflow-hidden">
    {% block content %}

    {% endblock %}

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
      AOS.init()
    </script>
  </body>
</html>
