{% comment %} <div class="col-md-2">
  <div class="mycard-time-gap">
    <p class="mycard-title-1">Edication</p>
    <p>2018</p>
    <div class="vertical-hr"></div>
    <p>2022</p>
  </div>
</div> {% endcomment %}

<div class="col-md-10">
  <p class="mycard-title-2">BSC,ELECTRICAL And COMPUTER Eng.</p>

  <p class="mycard-title-3">
    Addis Ababa Science And Technology University. <br />
  </p>i have learn a lot of advanced staffs
    |- programing (c++,jave,python...)   |
    |- Database management   |
    |- Distributed and pararale computing,socket programing    |
    |- Cyber security,computer networking    |
    |- microcontroller and interfacing (embended system,rasperry-pi)</>

  <button type="button" class="btn btn-sm btn-outline-warning rounded rounded-5 my-1">W</button>
</div>
