{% extends 'base.html' %}

{% block content %}
  <div class="flex flex-col lg:flex-row min-h-screen w-full">
    <!-- Side Menu - Hidden on mobile, shown on desktop -->
    <div class="hidden lg:block lg:w-[22rem] xl:w-[24rem] 2xl:w-[26rem]">
      {% include 'components/sidebar.html' %}
    </div>

    <!-- Main Content Area -->
    <main class="w-full lg:w-[calc(100%-22rem)] xl:w-[calc(100%-24rem)] 2xl:w-[calc(100%-26rem)]">
      <div class="pb-16 md:pb-20 lg:pb-24">
        {% include 'components/navbar.html' %}

        <div class="px-2 sm:px-4 md:px-6 lg:px-8 xl:px-10 2xl:px-12">
          {% include 'pages/about.html' %}
          {% include 'pages/experience.html' %}
          {% include 'pages/education.html' %}
          {% include 'pages/portfolio.html' %}
          {% include 'pages/contact.html' %}
        </div>
      </div>

      <div class="w-full lg:w-[calc(100%-19rem)] absolute right-0 block mt-20">
        {% include 'components/footer.html' %}
      </div>
    </main>
  </div>
{% endblock %}
