{% load static %}

<div class="project pt-1">
  <link href="{% static 'css/project.css' %}" rel="stylesheet" />
  <div class="landing position-relative overflow-hidden mt-3 text-center">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 data-aos="flip-right" class="display-3 fw-bold">Designed for engineers</h1>
      <h3 data-aos="flip-left" class="fw-normal text-muted mb-3">Build anything you want with Aperture</h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <a class="icon-link" href="#">
          Learn more<svg class="bi">
            <use xlink:href="#chevron-right" />
          </svg>
        </a>
        <a class="icon-link" href="#">
          Buy<svg class="bi">
            <use xlink:href="#chevron-right" />
          </svg>
        </a>
      </div>
    </div>
    <div data-aos="flip-right" class="product-device shadow-sm d-none d-md-block"></div>
    <div data-aos="flip-right" class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="card col-12 col-md-6" data-aos="zoom-in-up">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </p>
        </div>
        <img src="{% static 'img/p.png' %}" class="card-img-bottom" alt="..." />
      </div>
      <div class="card col-12 col-md-6" data-aos="zoom-in-up">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </p>
        </div>
        <img src="{% static 'img/p.png' %}" class="card-img-bottom" alt="..." />
      </div>
      <div class="card col-12 col-md-6" data-aos="zoom-in-up">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </p>
        </div>
        <img src="{% static 'img/p.png' %}" class="card-img-bottom" alt="..." />
      </div>
      <div class="card col-12 col-md-6" data-aos="zoom-in-up">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </p>
        </div>
        <img src="{% static 'img/p.png' %}" class="card-img-bottom" alt="..." />
      </div>
    </div>
  </div>
  <footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24">
          <title>Product</title>
          <circle cx="12" cy="12" r="10" />
          <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
        </svg>
        <small class="d-block mb-3 text-body-secondary">&copy; 2017–2024</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="link-secondary text-decoration-none" href="#">Cool stuff</a>
          </li>
          <li>
            <a class="link-secondary text-decoration-none" href="#">Random feature</a>
          </li>
          <li>
            <a class="link-secondary text-decoration-none" href="#">Team feature</a>
          </li>
          <li>
            <a class="link-secondary text-decoration-none" href="#">Stuff for developers</a>
          </li>
          <li>
            <a class="link-secondary text-decoration-none" href="#">Another one</a>
          </li>
          <li>
            <a class="link-secondary text-decoration-none" href="#">Last time</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="link-secondary text-decoration-none" href="#">Resource name</a>
          </li>
          <li>
            <a class="link-secondary text-decoration-none" href="#">Resource</a>
          </li>
          <li>
            <a class="link-secondary text-decoration-none" href="#">Another resource</a>
          </li>
          <li>
            <a class="link-secondary text-decoration-none" href="#">Final resource</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="link-secondary text-decoration-none" href="#">Business</a>
          </li>
          <li>
            <a class="link-secondary text-decoration-none" href="#">Education</a>
          </li>
          <li>
            <a class="link-secondary text-decoration-none" href="#">Government</a>
          </li>
          <li>
            <a class="link-secondary text-decoration-none" href="#">Gaming</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="link-secondary text-decoration-none" href="#">Team</a>
          </li>
          <li>
            <a class="link-secondary text-decoration-none" href="#">Locations</a>
          </li>
          <li>
            <a class="link-secondary text-decoration-none" href="#">Privacy</a>
          </li>
          <li>
            <a class="link-secondary text-decoration-none" href="#">Terms</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
