<!-- contact us -->
{% extends 'index.html' %}

{% block page %}
  <main id="contact-page" class="page pt-10 sm:pt-28 ps-10">
    <p class="font-bold col-span-10 font-serif text-2xl mb-3 text-warning">Get in Touch</p>
    <p class="text-xl">Have a question or want to work together with me? Drop a message below! I will reach you soon.</p>
    <div class="py-2 mt-5 flex gap-10 text-quinary">
      <div class="basis-1/1 sm:basis-1/2 flex flex-col flex-grow">
        <form class="flex flex-col" id="contact-form" method="post">
          {% csrf_token %}

          {% if error %}
            <p class="mb-3 text-red-500">{{ error }}</p>
          {% endif %}
          {% if success %}
            <p class="mb-3 text-green-500">{{ success }}</p>
          {% endif %}

          <label for="email">Leave me your email</label>
          <input class="mb-3 mt-1 p-2 border-none bg-input_dark focus:ring-1 focus:ring-info focus:ring-offset-0" id="email" name="email" type="email" placeholder="youremail@domain.com" value="{{ form_data.email|default:'' }}" required />

          <label for="message">Your message</label>
          <textarea rows="5" class="mb-3 mt-1 p-2 bg-input_dark focus:ring-1 border-none focus:ring-info focus:ring-offset-0" name="message" id="message" required>{{ form_data.message|default:'' }}</textarea>

          <button type="submit" class="my-3 p-2 font-extrabold transition ease-in-out duration-700 border text-secondary px-2 hover:bg-secondary hover:text-bg_dark">Send</button>
        </form>
      </div>

      <div class="hidden sm:block sm:basis-1/2 justify-end">
        <img class="rounded-3xl border p-1 ease-in-out duration-700 transform hover:scale-90 h-40 sm:h-72" src="../static/img/path4.png" alt="Profile Picture" />
      </div>
    </div>

    {% include 'components/modal.html' %}
  </main>

  <style>
    input,
    textarea {
      outline: none; /* Remove default outline */
    }
  </style>

  <script>
    // Function to open the modal
    function openModal({ title, content, onConfirm }) {
      const modal = document.getElementById('modal') // Make sure modal HTML has an ID of 'modal'
      const modalTitle = modal.querySelector('.modal-title')
      const modalContent = modal.querySelector('.modal-content')
      const modalConfirmButton = modal.querySelector('.modal-confirm-button')
    
      modalTitle.textContent = title
      modalContent.textContent = content
      modalConfirmButton.onclick = onConfirm
    
      modal.style.display = 'block' // Show the modal
    }
  </script>
{% endblock %}
