<!-- education and certificate -->
{% block page %}
  <main id="education-page" class="page p-2 min-h-full flex pt-10 sm:pt-32 align-middle gap-3">
    <div class="basis-2/3 sm:p-15 px-3">
      <p class="font-bold font-serif text-2xl mb-3">Education</p>

      {% for education in educations %}
        <div class="flex gap-4">
          <div>
            <span>🟡</span>
            <p class="ms-2 -my-3 h-32 w-0 border text-secondary"></p>
          </div>
          <div class="transition ease-in-out duration-500 transform hover:scale-105">
            <p class="text-lg md:text-2xl">
              {{ education.degree|slice:'19' }}
              <span class="text-secondary">{{ education.degree|slice:'20:' }}</span>
            </p>
            <p class="text-lg text-balance text-quinary">{{ education.institution }}</p>
            <p class="text-lg mb-5 text-quinary">
              {{ education.address }}
              <br />
              {{ education.start_date|date:'M Y' }}-
              {{ education.end_date }}
            </p>
          </div>a
        </div>
      {% endfor %}
    </div>
    <div class="basis-1/3 flex flex-col">
      <p class="font-bold font-serif text-2xl mb-3">Certifications</p>

      <ul class="h-96 overflow-y-auto px-3 text-quinary">
        {% for certificate in certifications %}
          <li class="flex p-2 gap-2 transition ease-in-out duration-500 transform hover:scale-105 hover:text-warning">
            <p class="text-4xl font-extrabold p-4 rounded-lg border">{{ certificate.title|slice:'1' }}</p>
            <a class="flex flex-col" href="{{ certificate.certificate_link }}" target="_blank">
              <span class="font-bold my-2">{{ certificate.title }}</span>
              <span>Issued by:{{ certificate.issued_by }}</span>
              <span>Issued on:{{ certificate.issued_on }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </main>
{% endblock %}
