{% load static %}
<div class="page" id="education">
  {% comment %} <h3 class="text-start">Education <span class="text-muted">And</span> Certification</h3> {% endcomment %}

  <div class="page-title" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
    <a href="#education"><h3 class="text-start">Education <span class="text-muted">And</span> Certification</h3></a>

    <hr class="text-warning" />
  </div>

  <div class="row mt-5 d-flex justify-content-between">
    <div class="col-md-6 p-5 education mb-5" data-aos="zoom-out-right">
      <div class="header">
        <h2 class="text-warning">Education</h2>
      </div>

      {% for edication in educations %}
        <h2 class="fw-bold text-muted">Electrical & Computer Engineering</h2>

        <p class="degree-title text-muted">
          {{ edication.degree }} <br />
          {{ edication.institution }} <br />
          {{ edication.address }}<br />
          {{ edication.start_date|date:'M Y' }} - {{ edication.end_date|date:'M Y' }}

          {% comment %}2018 - 2022{% endcomment %}
        </p>

        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-accent rounded-5 my-1 me-3">Final Year Project</button>
          <a target="_blank" href="{{ edication.website }}" class="btn btn-sm btn-outline-accent rounded-5 my-1">Visit School</a>
        </div>
      {% endfor %}
    </div>

    <div class="col-md-5 p-5 certificate" data-aos="zoom-out-left">
      <div class="header">
        <h2 class="text-warning">Certifications</h2>
        {% comment %} <h2 class="fw-bold text-dark">Electrical & <span class="text-accent">Computer Engineering</span></h2> {% endcomment %}
      </div>

      <ul class="list-unstyled">
        {% for certificate in certifications %}
          <li>
            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="{{ certificate.certificate_link }}" target="_blank">
              <div class="certificate-icon bg-accent">
                <i class="bi bi-certificate text-white"></i>
              </div>
              <div class="col-lg-8">
                <h6 class="mb-0">{{ certificate.title }}</h6>
                <small class="text-body-secondary">Issued by: {{ certificate.issued_by }}</small> <br />
                <small class="text-body-secondary">Issued on: {{ certificate.issued_on }}</small>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
