<div class="page pt-5 mt-5" id="landing">
  <div class="align-items-center">
    <h1 data-aos="fade-up" data-aos-duration="3000" class="display-2 fw-bold text-center">{{ profile.first_name }} {{ profile.last_name }}</h1>
    <h4 data-aos="zoom-in-down" data-aos-duration="3000" class="fw-bold text-center text-muted">{{ profile.heading }}</h4>
  </div>

  <div class="collections d-flex flex-wrap justify-content-center g-4 mt-5 pt-5">
    {% for skill in skills %}
      {% if forloop.counter|divisibleby:2 %}
        <img class="icon m-4 even" src="{{ skill.logo.url }}" width="30" height="30" data-aos="fade-down" data-aos-duration="3000" />
      {% else %}
        <img class="icon m-4 odd" src="{{ skill.logo.url }}" width="30" height="30" data-aos="fade-up" data-aos-duration="3000" />
      {% endif %}
    {% endfor %}
  </div>
</div>
