{% extends 'base.html' %}

{% block content %}
  <div class="page pt-20 sm:pt-32 px-4 sm:px-10 text-center bg-background text-text_light">
    <!-- Hero Section -->
    <div class="mb-16">
      <p data-aos="fade-up" data-aos-duration="2000" class="text-9xl sm:text-6xl font-extrabold tracking-tight leading-tight text-primary drop-shadow-lg">{{ profile.first_name }} {{ profile.last_name }}</p>

      <h2 data-aos="zoom-in" data-aos-duration="2500" class="text-lg sm:text-2xl font-semibold text-secondary mt-4">{{ profile.heading }}</h2>
    </div>

    <!-- Skills Section -->
    <div class="flex flex-wrap justify-center gap-6 sm:gap-10">
      {% for skill in skills %}
        <div class="relative group transform transition duration-300 hover:scale-110 hover:-rotate-1" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="300" data-aos-duration="3000">
          <div class="transform hover:scale-110 w-11 h-11 duration-300 sm:w-20 sm:h-20 flex items-center justify-center p-2 rounded-2xl shadow-md bg-white/5 border border-secondary backdrop-blur-md">
            <img src="{{ skill.logo.url }}" alt="{{ skill.name }}" class="w-8 h-w-8 object-contain" />
          </div>

          <span class="absolute -bottom-6 left-1/2 -translate-x-1/2 text-xs text-quinary opacity-0 group-hover:opacity-100 transition-opacity duration-300">{{ skill.name }}</span>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
