{% load static %}
<div class="page" id="project">
  <div class="px-md-5 project pt-1">
    <div class="landing position-relative overflow-hidden mt-3 text-center">
      <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 data-aos="flip-right" class="display-3 fw-bold">Explore My Work</h1>
        <h3 data-aos="flip-left" class="fw-normal text-muted mb-3 px-5">A Collection of Projects Built with Passion and Precision</h3>
        <div class="d-flex gap-3 justify-content-center lead fw-normal">
          <a class="icon-link" href="#">
            Data Science<svg class="bi">
              <use xlink:href="#chevron-right" />
            </svg>
          </a>
          <a class="icon-link" href="#">
            Frontend<svg class="bi">
              <use xlink:href="#chevron-right" />
            </svg>
          </a><a class="icon-link" href="#">
            Backend<svg class="bi">
              <use xlink:href="#chevron-right" />
            </svg>
          </a>
        </div>
      </div>
      <div data-aos="flip-right" class="product-device shadow-sm d-none d-md-block"></div>
      <div data-aos="flip-right" class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
    <div class="container-fluid mt-3">
      <div class="row">
        <div class="card col-12 col-md-6" data-aos="zoom-in-up">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </p>
          </div>
          <img src="{% static 'img/p.png' %}" class="card-img-bottom" alt="..." />
        </div>
        <div class="card col-12 col-md-6" data-aos="zoom-in-up">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </p>
          </div>
          <img src="{% static 'img/p.png' %}" class="card-img-bottom" alt="..." />
        </div>
        <div class="card col-12 col-md-6" data-aos="zoom-in-up">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </p>
          </div>
          <img src="{% static 'img/p.png' %}" class="card-img-bottom" alt="..." />
        </div>
        <div class="card col-12 col-md-6" data-aos="zoom-in-up">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </p>
          </div>
          <img src="{% static 'img/p.png' %}" class="card-img-bottom" alt="..." />
        </div>
      </div>
    </div>
  </div>
</div>
