   .navbar {
            background-color: $bg-200 !important;
            .offcanvas{
                background-color:  $bg-100;
            }
            a {
                color: inherit;
                text-decoration: none;
                position: relative; /* Needed for positioning the pseudo-element */
                
            }
            
            a::after {
                content: ""; 
                position: absolute;
                left: 0;
                bottom: -2px; /* Position it just below the text */
                width: 0; /* Start with 0 width */
                height: 2px; /* Set the height of the underline */
                background-color: $accent-100;

                transition: width 0.3s ease; /* Smooth transition for the width */
            }
            &-nav{

                a:hover{
                        color: $accent-300 !important;

            }
            a:hover::after {

                width: 100%; /* Expands to full width on hover */
            }
            }
            
            
            

            .logo {
            position: relative;
            display: inline-block; // Allow positioning for the border

            img {
                transition: transform 0.3s ease; // Smooth grow effect on the image
            }

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%; // Start with full width of the logo
                height: 100%; // Start with full height of the logo
            
                z-index: -1; // Place it behind the logo
            }

            &:hover {
                img {
                    transform: scale(2); // Slight grow effect on hover
                }

                &::before {
                    animation: drawCircle 1s forwards; // Animate the border drawing effect
                    border-color: $accent-100; // Change border color on hover
                }
            }






        }






}