$primary-100:#0D6E6E;
$primary-200:#4A9D9C;
$primary-300:#AFFFFF;
$accent-100:#ECAE0E;
$accent-200:#FFCF54;
$accent-300:#ecad0e46;
$text-100:#FFFFFF;
$text-200:#E0E0E0;
$bg-100:#061a29;
$bg-200:#1D2E3D;
$bg-300:#354656;
